<mat-toolbar
  color="primary"
>ngx-dailymotion</mat-toolbar>
<div class="container">
  <p>This is demo site for <a href="https://www.npmjs.com/package/ngx-dailymotion">ngx-dailymotion</a>.</p>
</div>
<div class="container__main">
  <div class="properties">
    <p>Properties</p>
    <section class="property">
      <mat-checkbox
      (change)="controlsCheckedHandler($event)"
    >Controls</mat-checkbox>
    </section>
    <section class="property">
      <mat-checkbox
      (change)="pauseCheckedHandler($event)"
      >Pause</mat-checkbox>
    </section>
</div>
  <dailymotion
    video="xwr14q"
    controls="{{controls}}"
    pause="{{pause}}"
  ></dailymotion>
</div>
