.container {
  padding: 10px;
}

.container__main {
  margin: auto;
  padding-top: 30px;
  height: 400px;
  width: 1000px;
}

.properties {
  float: left;
  padding-right: 30px;
}

.property {
  display: flex;
  align-content: space-around;
  /* height: 40px; */
}

.videos-label {
  height: 20px;
}

.videos-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.videos-radio-button {
  margin: 5px;
}

.volume-label {
  padding-right: 10px;
}