.container {
  padding: 10px;
}

.container__main {
  margin: auto;
  padding-top: 30px;
  height: 400px;
  width: 700px;
}

.properties {
  float: left;
  padding-right: 30px;
}

.property {
  display: flex;
  align-content: space-around;
  height: 40px;
}