<mat-toolbar
  color="primary"
>ngx-dailymotion</mat-toolbar>
<div class="container">
  <p>This is demo site for <a href="https://www.npmjs.com/package/ngx-dailymotion">ngx-dailymotion</a>.</p>
</div>

<div class="container__main">
  <div class="properties">
    <h3>Properties</h3>
    <section class="property">
      <label 
        id=videos
        class="videos-label"
      >Video</label>
      <mat-radio-group
        class="videos-radio-group"
        aria-labelledby="videos"
        [(ngModel)]="selectedVideo"
      >
        <mat-radio-button
          class="videos-radio-button"
          *ngFor="let video of videos"
          [value]="video"
        >
          {{video.name}}
        </mat-radio-button>
      </mat-radio-group>
    </section>
    <section class="property">
      <mat-checkbox
      (change)="controlsCheckedHandler($event)"
    >Controls</mat-checkbox>
    </section>
    <section class="property">
      <mat-checkbox
      (change)="pauseCheckedHandler($event)"
      >Pause</mat-checkbox>
    </section>
</div>

  <dailymotion
    video="{{selectedVideo.id}}"
    controls="{{controls}}"
    pause="{{pause}}"
  ></dailymotion>

</div>
